<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>collageProfileBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97D3D7371E4A2FA700553246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D3D74B1E4A2FA800553246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D3D7561E4A2FA800553246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
